.body{
    letter-spacing: 3px;
    line-height: 1.5;
    font-family: Arial;
}
.p1{
    margin: 0px;
    margin-top: -10px;
    padding:-65px;
    height: 700px;
}
.title{
    margin: 0px;
    padding: 0px ;
}
.title h1{
    font-family: 华文中宋;
    padding:120px;
    font-size: 45px;
    letter-spacing: 2px;
    line-height:2;
    text-align: center;
    margin-top: 25px;
    margin-left: 650px;
    margin-bottom: 200px;
}
.pa1{
    margin: auto;
    width: 1100px;
}
.pa1 h2{
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 35px;
    margin-bottom: 10px;
}
.pa1 p{
    font-family: Arial;
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 0px;
}
.pa2{
    width: 1100px;
    margin: auto;
}
.pa2 h2{
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: Arial;
}
.pa2 p{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: Arial;
}
.pa2 iframe{
    width: 550px;
    float: left;
    height: 400px;
    margin-bottom: 10px;
}
.zhushi7{
    width: 1100px;
    margin: auto;
}
.zhushi7 p{
    margin-top: 10px;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: Arial;
}
.p3{
    width: 1100px;
    margin: auto;
}
.p3 iframe{
    width: 1100px;
    float: left;
    height: 870px;
    margin-bottom: 10px;
}
.tu4{
    width: 1100px;
    margin: auto;
}
.tu4 p{
    margin-top: 0px;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: Arial;
}
.tu4 img{
    width: 1100px;
    height: 700px;
    margin-bottom: 0;
}
.pa3{
    width: 1100px;
    margin: auto;
}
.pa3 h2{
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: Arial;
}
.pa3 p{
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-top: 5px;
    font-family: Arial;
}
.sa{
    width: 1100px;
    margin: auto;
}
.sa h3{
    float: left;
    width: 260px;
    font-size: 90px;
    text-align: center;
    margin: 5px;
}
.sa p{
    float: left;
    width: 510px;
    margin: 20px;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 3px;
    line-height: 1.5;
}
.sa1{
    width: 1100px;
    margin: auto;
}

.sa1 iframe{
    float: left;
    width: 550px;
    height: 420px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arial;
}
.sa1 p{
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-top: 5px;
    font-family: Arial;
}
.pa4{
    width: 1100px;
    margin: auto;
    font-family: Arial;
}
.pa4 h2{
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: Arial;
}
.pa4 h3{
    font-size: 15px;
    font-family: Arial;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 0px;
    font-family: Arial;
}
.pa4 p{
    margin-top: 0;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: Arial;
}
.zhushi1 p{
    width: 1100px;
    margin: auto;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: Arial;
    margin-bottom: 0px;
}
.video{
    margin-top: 0px;
}
.zhushi2 p{
    width: 1100px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Arial;
}
.jiaozhu{
    width: 1100px;
    margin: auto;
    font-family: Arial;
}
.jiaozhu p{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 3px;
    font-family: Arial;
}
.pa5{
    width: 1100px;
    margin: auto;
}
.pa5 h2{
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: Arial;
}
.pa5 p{
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Arial;
}
.pa5 img{
    width: 1100px;
    margin-top: -5px;
    margin-bottom: 0px;
}
.zhushi6{
    width: 1100px;
    margin: auto;
}
.zhushi6 p{
    width: 1100px;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: Arial;
}
.zhushi6 img{
    width: 1100px;
    margin-top: -5px;
    margin-bottom: 0px;
}
.zhushi3 p{
    width: 1100px;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: Arial;
}
.p13{
    width: 1100px;
    margin: auto;
}
.p13 p{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 3px;
    font-family: Arial;
}
.zhushi4 p{
    width: 1100px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: Arial;
}
.p12 img{
    width:1100px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 0px;
}
.p13{
    width: 1100px;
    margin: auto;
}
.p13 img{
    width: 1100px;
}
.p13 h4{
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    font-family: Arial;
}
.zhushi5{
    width: 1100px;
    margin: auto;
}
.zhushi5 p{
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Arial;
}
.pa6{
    width: 1100px;
    margin: auto;
}
.pa6 h2{
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-family: Arial;
}
.pa6 p{
    width: 1150px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: Arial;
}
.li{
    width: 1100px;
    margin: auto;
}
.li p{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: Arial;
}
.li h3{
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Arial;
}
.pa7{
    width: 1100px;
    margin: auto;
    margin-top: 0px;
}
.pa7 h2{
    letter-spacing: 3px;
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: Arial;
}
.pa7 p{
    margin-top: 0px;
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 5px;
    font-family: Arial;
}
.pa7 h3{
    margin-top: 0px;
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 20px;
    font-family: Arial;
}
.p10{
    width: 1100px;
    margin: auto;
    margin-top: 80px;
}
.p10 p{
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 5px;
    font-family: Arial;
}
.pa8{
    width: 1100px;
    margin: auto;
}
.pa8 p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 0;
    font-family: Arial;
}
.pa10{
    width: 1100px;
    margin: auto;
}
.pa10 p{
    font-family: Arial;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-top: 20px;
}
.pa9{
    width: 1100px;
    margin: auto;
}
.pa9 p{
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 1.5;
    font-family: Arial;
}